fastapi==0.115.6
uvicorn==0.34.0
python-multipart==0.0.20
Pillow==11.1.0
numpy==1.26.4
tensorflow==2.16.2
pytesseract==0.3.13
transformers==4.47.1
torch==2.5.1
torchvision==0.20.1
python-dotenv==1.0.1
